name: Android Pull Request To Master CI

on:
  pull_request:
    branches:
      - 'master'

jobs:
  test:
    name: Run Processor Tests
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v1
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Processor tests
        run: bash ./gradlew :koru-processor:jvmTestClasses --stacktrace